<h3>Search Guide</h3>
<p>
Search for resources using the following field names using key value pairs where
one of the keys is in the list below.
</p>

<p>
Find objects with ID = 2 by searching for <code>id:2</code>
</p>

<p>
Find active users with the role admin  by searching for <code>active:true role:admin</code>
</p>

<% @search_service.resources.each do |resource| %>
  <h5><%= resource.name.capitalize %></h5>
  <ul>
    <% resource.column_names.each do |column_name| %>
      <li><%= column_name %></li>
    <% end %>
  </ul>
<% end %>
